<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head></head>
<body>
<div layout:fragment="contents">
    <section class="expenseItem">
        <h2>Submit a payment request for the following expense</h2>
        <table>
            <tr>
                <td>Date</td>
                <td th:text="${expense.getDate()}" id="expense_date"></td>
            </tr>

            <tr>
                <td>Description</td>
                <td th:text="${expense.getDescription()}" id="expense_description"></td>
            </tr>

            <tr>
                <td>Amount</td>
                <td th:text="${expense.getAmount()}" id="expense_amount"></td>
            </tr>
        </table>


        <div th:unless="${#lists.isEmpty(listOfPaymentRequests)}">
            <h2>Previous Payment Requests for this expense</h2>
            <table>
                <tr>
                    <th>Who</th>
                    <th>Due</th>
                    <th>Paid</th>
                    <th>How Much</th>
                </tr>
                <tr th:each="paymentRequest : ${listOfPaymentRequests}">
                    <td th:id="'paymentrequest_who_'+${paymentRequest.getId()}"
                      th:text="${paymentRequest.getPersonWhoShouldPayBack.getName()}">Who</td>

                    <td th:id="'paymentrequest_date_'+${paymentRequest.getId()}"
                      th:text="${paymentRequest.getDueDate}">Due</td>

                    <td th:id="'paymentrequest_date_'+${paymentRequest.getId()}" th:if="${paymentRequest.isPaid()}" th:text="Yes">Yes</td>
                    <td th:id="'paymentrequest_date_'+${paymentRequest.getId()}" th:if="${!paymentRequest.isPaid()}" th:text="No">No</td>

                    <td th:id="'paymentrequest_amount_'+${paymentRequest.getId()}"
                      th:text="${paymentRequest.getAmountToPay}">How Much</td>
                </tr>
                <tfoot>
                <tr>
                  <td colspan="3">Total Amount of Payments Requested</td>
                  <td id="total_paymentrequests" th:text="${finalAmount}">Total Amount</td>
                </tr>
                </tfoot>
            </table>
        </div>

        <form method="POST" action="/paymentrequest.action"  enctype="application/x-www-form-urlencoded">

            <input th:value="${expense.getId()}" type="hidden" id="id" name="id">

            <label for="email">The email address of the person that should pay you</label>
            <input type="email" name="email" id="email" autofocus required>

            <label for="amount">The amount they should actually pay(maximum <span th:text="${lessAmount}"></span>)</label>
            <input type="number" name="amount" id="amount" required>

            <label for="due_date">By when must this claim be settled (dd/mm/yyyy)</label>
            <input type="date" name="due_date" id="due_date" required>

            <input type="submit" id="submit" value="submit">
        </form>
    </section>


</div>

</body>
</html>