<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head></head>
<body>
<div layout:fragment="contents">
    <section class="paymentList">
        <h2>People that you owe</h2>
        <p id="no_payment_requests_received" th:if="${#lists.isEmpty(payments)}">You don't owe anyone anything!</p>
    </section>

    <table>
        <th:block th:unless="${#lists.isEmpty(payments)}">
            <thead>
            <tr>
                <th>Who</th>
                <th>What</th>
                <th>Due in(days)</th>
                <th >How Much</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="payment: ${payments}">
                <td th:id="paymentrequest_who" th:text="${payment.getPersonRequestingPayment.getName()}">Who</td>
                <td th:id="paymentrequest_what" th:text="${payment.getDescription()}">What</td>
                <td th:id="paymentrequest_date" th:text="${payment.daysLeftToPay()}">Due In (days)</td>
                <td th:id="paymentrequest_amount" th:text="${payment.getAmountToPay()}">How Much</td>
                <td>
                    <form method="post" action="payment.action">
                        <input id="expenseId" name="expenseId" type="hidden" th:value="${payment.getExpenseId()}">
                        <input th:unless="${payment.isPaid()}" type="submit" name="pay" id="pay" value="Pay">
                        <input id="paid_1" th:if="${payment.isPaid()}" type="checkbox" checked>
                    </form>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3">Total Unpaid</td>
                <td id="grand_total" th:text="${grand_total}">Amount</td>
            </tr>
            </tfoot>
        </th:block>
    </table>

</div>

</body>
</html>